Package: com.wizage.bducharge
Name: BroDoYouCharge
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Let's change up the way we look at the charging bolt
Maintainer: wizages <wizagesmax@gmail.com>
Author: wizages <wizagesmax@gmail.com>
Section: Tweaks
